In [1]:
import pandas as pd

In [3]:
df = pd.read_csv("RawData.csv")

In [4]:
df.head()

     BY  CEEY   NBP  UEE  GDP-BY  GDP-CEEY   CEEP  CEEA   CEEAR    GER
0  1959  1977  1635    0   550.0    1749.4  570.0  27.0   4.74%  1.65%
1  1960  1978  1402    0   597.2    1495.4  610.0  40.2   6.59%  2.87%
2  1961  1979   949    0   500.6    1782.8  468.0  28.0   5.98%  2.95%
3  1962  1980  2451    0   472.1    1911.5  333.0  28.0   8.41%  1.14%
4  1963  1981  2934    0   507.1    1958.7  259.0  28.0  10.81%  0.95%

In [5]:
df_filter = df[['CEEY','CEEAR','GER']]

In [6]:
new_df = df_filter.melt('CEEY',var_name='category', value_name='rate')

In [7]:
new_df.head()

   CEEY category    rate
0  1977    CEEAR   4.74%
1  1978    CEEAR   6.59%
2  1979    CEEAR   5.98%
3  1980    CEEAR   8.41%
4  1981    CEEAR  10.81%

In [10]:
new_df.dtypes

CEEY         int64
category    object
rate        object
dtype: object

In [11]:
new_df['rate'] = new_df['rate'].str.rstrip("%").astype(float)

In [16]:
new_df = new_df[new_df.CEEY < 2022]

In [18]:
new_df.to_csv("cleanData1.csv", index=False)